.iconGlow {
    visibility: hidden;
}

.buttonPane:hover .iconGlow {
    visibility: visible;
    fill: green;
    -fx-effect: dropshadow( one-pass-box , #FFEE10 , 8, 0.0, 0, 0);
}

.buttonPane:hover .icon {
    visibility: hidden;
}

.buttonPane:hover .circleGlow {
     -fx-effect: dropshadow( one-pass-box , #FFEE10 , 8, 0.0, 0, 0);
}

.glowingText {
     -fx-effect: dropshadow( one-pass-box , #FFEE10 , 8, 0.0, 0, 0);
}

.Sphere.Active  {
    -fx-effect: dropshadow( one-pass-box , #FFEE10 , 8, 0.0, 0, 0);
}


.Sphere {
    transition: dropshadow 1s;
}


.SelectorSphere.Active {
    -fx-effect: dropshadow( one-pass-box , #FFEE10 , 8, 0.0, 0, 0);
}

.Selected {
    -fx-effect: dropshadow( one-pass-box , #FFEE10 , 8, 0.0, 0, 0);
}

.MarkerSphere {
    -fx-effect: dropshadow( one-pass-box , #FFEE10 , 8, 0.0, 0, 0);
}

.CorrectSphere {
    -fx-effect: dropshadow( one-pass-box , #DDEAA0 , 50, 0.0, 0, 0);

}

.CorrectRow {
    -fx-background: BLUE;
    -fx-effect: dropshadow( one-pass-box , #DDEAA0 , 50, 0.0, 0, 0);
}
